.my_qbtn{
    background: #6C7B86;

    padding: 5px;
    color: white;

}


.my_btn{
 


color: #FFFFFF;





background: #43CA73;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 3px;


}